
  body {
    width: 100%;
    height: 200vh;
    background-image: url(images/goldGreen.jpeg);
    background-position: center;
    background-size: cover;
    box-decoration-break: slice;
  } 

 .nav-link {
  font-size: 17px;
  transition: .5s;
}
.nav-link:hover {
 box-shadow: 0 0 10px violet;

}
.name-style{
  font-weight: bold;
  margin-left: 30px;
  font-size: 40px;
  font-family: Dancing Script;

}
.break-line {
  box-shadow: 0 0 10px whites;
}
.image-title {
  margin-left: 15px;
  margin-top: 20px;
}
.first-name {
  font-size: 40px;
  padding-top: 70px;
  font-family: anton static;
  color: whitesmoke;

}
.second-name {
  font-size: 50px;
  color:whitesmoke;
  font-family: anton static;
  font-weight: bolder;

}
main h3 {
  color:whitesmoke;
  letter-spacing: 0ch;
  font: caption;
  font-family: anton static; 
}

.img-fluid {
  margin-right: 10px;
  margin-top: 15px;
  margin-left: 5px;
  height: 700px;
  width: 700px;
  border-radius: 350px;
  box-shadow: 0 0 20px white;
}